*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
margin: 10px 20px;

}
header{
    text-align: center;
}
.head{
    /* padding: 10px; */
    margin: 20px;
}
.container{
    margin: 20px;
    height: 200px;
    /* border: 1px solid red; */
    background-color: rgb(181, 181, 221);
}
    .container2{
        text-align: center;
        position: absolute;
        top:150px;
        left:35%;
        padding: 20px;
        border: 2px solid black;
       height: 250px;
       width: 400px;
       margin:  0 auto;
       line-height: 30px;
       background-color:white;
       
       


    }
    .container2 img{
       height: 80px;
       width: 80px;
       border-radius: 50%; 
       box-shadow: 2px 2px 5px #eee;
       border: 2px solid grey;
    
    }
    .icon i{
        margin-left: 20px;
      
    }
    button{
        background-color: violet;
        color: white;
        padding:10px 20px;
        border:none;
        outline:none;
        border-radius: 10px;
    }


    .head1{
       margin-top: 100px;
       padding: 20px;
    }
    .product{
        margin:200px auto;
        padding: 30px;
        width:70%;
        background-color: #eee;
        text-align: center;
    }
    .images{
        display: flex;
        flex-wrap: wrap;
        padding: 30px;
    }
    .images img{
        margin: 15px 25px;
        height:200px;
        width: 250px;
        border-radius: 8px;
    }
    .product h2{
        text-align: center;
    }

    .images p{
        text-align: center;
    }